#cp_main_content {
	margin: 20px 0px 0px 0px;
	width: 720px;
}

#cp_side_content {
	margin: 20px 0px 0px 0px;
	width: 240px;
}
.ad_small {
	background-color: beige;
	height: 110px;
	margin-bottom: 20px;
	overflow: hidden;
}
.ad_single {
	background-color: beige;
	height: 370px;
	margin-bottom: 20px;
	overflow: hidden;
}
