/* Main Container - Header */
#cp_header {
}

/* Header - main logo */

#cp_main_logo {
}

#header_logo {
	height: 77px;
	display: block;
}
.market-intro {
	float: right;
	position: relative;
	right: -286px;
	top: 20px;
	font-size: 17px;
}
.market {
	font-weight: bold;
}
.note {
	float: right;
}
