/* Main Container - Header */
#cp_header {
}

/* Header - main logo */

#cp_main_logo {
}

#header_logo {
	height: 77px;
	display: block;
}
.market-intro {
	float: right;
	position: relative;
	right: -68px;
	top: 15px;
	font-size: 17px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
	color: #0068AC;
}
.note {
	float: right;
}
